<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>汇通天下2016年 年会抽奖</title>
	<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon">
	<link rel="icon" href="__IMG__/favicon.ico" type="image/x-icon">
    <!-- Loading Bootstrap -->
    <link href="__DIST__/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="__DIST__/css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/luck.css" />
    <link rel="stylesheet" href="__CSS__/am.css" />
	<script type="text/javascript" src="http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/api.lib.min.js"></script>
	</head>
	<body>
	<block name="body"></block>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="__DIST__/js/vendor/video.js"></script>
    <script src="__DIST__/js/flat-ui.min.js"></script>
	<block name="script"></block>
	</body>
</html>