<extend name="Public/common"/>
	<block name="body">
		<div class="snow-container"></div>
		<h1 class="text-center" id="id1">汇通天下2016年 年会抽奖</h1>

		<div id="roll">准备就绪</div>
		<input type="hidden" id="mid" value=""> 
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-3">
					<input type="button" class="btn btn-large btn-block btn-primary" id="start" value="开始">
				</div>
				<div class="col-md-3">
					<input type="button" class="btn btn-large btn-block btn-danger" id="stop" value="停止" disabled="disabled">
				</div>
			</div>
			<div class="row selectTypelist">
				<div class="col-md-3">
					<label class="radio">
						<input type="radio" data-toggle="radio" value="4" id="optionsRadios4" name="luckType" class="custom-radio" checked="checked">
						<span class="icons">
							<span class="icon-unchecked"></span>
							<span class="icon-checked"></span>
						</span>
			            四等奖
			        </label>
				</div>
				<div class="col-md-3">
					<label class="radio">
						<input type="radio" data-toggle="radio" value="3" id="optionsRadios3" name="luckType" class="custom-radio">
						<span class="icons">
							<span class="icon-unchecked"></span>
							<span class="icon-checked"></span>
						</span>
			            三等奖
			        </label>
				</div>
				<div class="col-md-3">
					<label class="radio">
						<input type="radio" data-toggle="radio" value="2" id="optionsRadios2" name="luckType" class="custom-radio">
						<span class="icons">
							<span class="icon-unchecked"></span>
							<span class="icon-checked"></span>
						</span>
			            二等奖
			        </label>
				</div>
				<div class="col-md-3">
					<label class="radio">
						<input type="radio" data-toggle="radio" value="1" id="optionsRadios1" name="luckType" class="custom-radio">
						<span class="icons">
							<span class="icon-unchecked"></span>
							<span class="icon-checked"></span>
						</span>
			            一等奖
			        </label>
				</div>
			</div>
		</div>

		<div id="result" class="swatches-col">
			<volist name="history" id="historyData">
				<div class="pallete-item rubberBand animated">
					<dl class="palette {$historyData['color']}">
						<dt>{$historyData['name']}</dt>
    					<dd>{$historyData['typename']}</dd>
					</dl>
				</div>
			</volist>
		</div>
	</block>
	<block name="script">
		<script type="text/javascript">
			$youzikuapi.asyncLoad("http://api.youziku.com/webfont/FastJS/yzk_C40EC541D643F304", function () {
				$youziku.load("#id1", "5c2ab606ac374bedafa7b77d41418cd9", "STXingkai");
				$youziku.draw();
			})
			var resource  = '{:U("Index/getList")}';
			var selectone = '{:U("Index/getOne")}';
		</script>
		<script type="text/javascript" src="__JS__/snow.js"></script>
		<script src="__JS__/app.js"></script>
	</block>
</html>